* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(assets/Fundo.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
    font-style: normal;

}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #C91842 0%,  #5CC2E2 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;    
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 520px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #C91842 0%,  #5CC2E2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color:#262629;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #C1C1C1; 
}

section ul {

    display: flex;
    flex-wrap: wrap;    
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform 3.s;
}

section ul li:hover {
    transform: scale(1.5);
}

.moves-list img {
    width: 100px;
    border-radius: 8px;
    border: 1px solid #555555;
}
from {
    opacity: 0;
    transform: translateY(-30px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
.series-list img {
    width: 100px;
    border-radius: 8px;
    border: 1px solid #555555;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
    
}

main section {
    animation: fromBottom .7s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    } */